<footer class="hidden sm:flex flex-row justify-between w-full bg-white text-3xl border-solid border-t border-corporate min-h-20">
    <div class="align-center self-center m-1">
        <img src="./assets/images/ball_logo.png" alt="TennisMeet" class="max-w-12">
    </div>
    <div class="flex flex-row justify-evenly self-center no-underline">
        <a href="./index.html" class="m-1"><h3>Portada</h3></a>
        <a href="./participantes.html" class="m-1"><h3>Participantes</h3></a>
        <a href="./index.html" class="m-1"><h3>Información</h3></a>
        <a href="./index.html" class="m-1"><h3>Contacto</h3></a>
    </div>
    <div></div>
</footer>