<header class="flex justify-between text-corporate p-2 bg-tmbg border-solid border-b border-corporate">
    <a href="index.html" class="self-center"><img src="./assets/images/ball_logo.png" alt="TennisMeet"
            class="hidden sm:block max-w-[50px] h-auto" /></a>
    <div class="self-center no-underline sm:text-3xl">
        <a href="index.html" class="sm:hidden">Inicio</a>
        <a href="participantes.html">Participantes</a>
        <a href="index.html">Información</a>
        <a href="index.html">Contacto</a>
    </div>
</header>